.streams {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}

.stream {
	padding: 1rem;
	background-color: whitesmoke;
	border-radius: 0.64rem;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	position: relative;
}

.stream .title {
	font-weight: 700;
	font-size: 1.4rem;
	color: darkturquoise;
	cursor: pointer;
	text-decoration: underline solid darkturquoise 0.25rem;
}

.stream .title>.play {
	display: none;
	position: absolute;
	top: 1.2rem;
	right: 1.2rem;
	padding: 4px;
	background-color: #e5d5f5;
	border-radius: 1rem;
}

.stream .title:hover>.play {
	display: block;
}

.stream .description {
	margin-top: 0.64rem;
	font-weight: 600;
	font-size: 1rem;
	color: #555;
}

.stream .options {
	margin-top: 0.8rem;
	height: 32px;
	display: flex;
	gap: 0.3rem;
	align-self: flex-end;
}

.stream .options .svg {
	cursor: pointer;
	text-align: center;
	padding: 4px;
}

.stream .options .svg:hover {
	background-color: #e5d5f5;
	border-radius: 0.25rem;
}

.stream .options .svg:active {
	background-color: #e5d5f5;
	transform: translateY(1.6px);
}
