.g-sign-in-btn,
.sign-out-btn {
	display: block;
	width: 190px;
	height: 46px;
	cursor: pointer;
}

.g-sign-in-btn {
	background-image: url(../images/btn_google_signin_light_normal.png);
	background-origin: border-box;
	background-repeat: no-repeat;
	background-size: cover;
}

.g-sign-in-btn:active {
	background-image: url(../images/btn_google_signin_light_pressed.png);
}

.sign-out-btn {
	width: 136px;
	background-color: #EF5350;
	border-radius: 23px;
	text-align: center;
	line-height: 48px;
	font-size: 1.1rem;
	font-weight: 700;
	color: floralwhite;
	user-select: none;
}

.sign-out-btn:active {
	background-color: #E57373;
}
