.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 5rem;
	display: grid;
	grid-template-columns: fit-content(100%) 1fr fit-content(100%);
	align-items: center;
	gap: 2rem;
	background-color: #9f5fdb;
	padding: 0 1rem;
	z-index: 1;
}

.header a {
	color: whitesmoke;
}

.header .brand {
	font-family: 'Paytone One', sans-serif;
	font-size: 1.6rem;
	color: #333;
	border: 0;
}

.header .nav-items {
	justify-self: end;
	display: flex;
	align-items: center;
	gap: 2rem;
	list-style: none;
	font-family: 'Paytone One', sans-serif;
}

.header .nav-items .nav-item {
	font-size: 1.2rem;
	font-weight: 700;
}
